<ion-view title="Home" id="page1">
  <ion-content padding="true" class="has-header">
    <ion-list id="home-list4">
      <ion-item class="item-icon-left dark" id="home-list-item14" ui-sref="driveGen.searchRide">
        <i class="icon ion-android-search"></i>Search Ride</ion-item>
      <ion-item class="item-icon-left" id="home-list-item15" ui-sref="driveGen.addRide">
        <i class="icon ion-android-add"></i>Add Ride</ion-item>
      <ion-item class="item-icon-left" id="home-list-item21" ui-sref="driveGen.myRides">
        <i class="icon ion-android-car"></i>My Rides</ion-item>
      <ion-item class="item-icon-left" id="home-list-item16" ui-sref="driveGen.myAccount">
        <i class="icon ion-android-settings"></i>My Account</ion-item>
      <ion-item class="item-icon-left" id="home-list-item17">
        <i class="icon ion-android-chat"></i>Messages</ion-item>
    </ion-list>
  </ion-content>
</ion-view>