<ion-view title="My Rides" id="page6">
  <ion-content padding="true" class="has-header">
    <ion-list id="myRides-list6">
      <ion-item class="item-divider" id="myRides-list-item-divider1"> Upcoming Rides</ion-item>
    </ion-list>
    <div class="item item-body" id="myRides-list-item-container8">
      <div id="myRides-markdown13" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <strong>From</strong> : Zandstraat 13,Kortrijk
          <strong>On</strong> : Tuesday</p>

        <p style="color:#000000;">
          <strong>To</strong> : Barco Kortrijk
          <strong>Time</strong> : 6.50 AM</p>
      </div>
    </div>
    <div class="item item-body" id="myRides-list-item-container9">
      <div id="myRides-markdown14" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <strong>From</strong> : Boterstraat 45, Ieper
          <strong>On</strong> : Friday</p>

        <p style="color:#000000;">
          <strong>To</strong> : Barco Kortrijk
          <strong>Time</strong> : 6.50 AM</p>
      </div>
    </div>
    <ion-list id="myRides-list7">
      <ion-item class="item-divider" id="myRides-list-item-divider2"> Ride History</ion-item>
    </ion-list>
    <div class="item item-body" id="myRides-list-item-container11">
      <div id="myRides-markdown15" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <strong>From</strong> : Boterstraat 45, Ieper
          <strong>On</strong> : 13/11</p>

        <p style="color:#000000;">
          <strong>To</strong> : Barco Kortrijk
          <strong>Time</strong> : 6.50 AM</p>
      </div>
    </div>
    <div class="item item-body" id="myRides-list-item-container12">
      <div id="myRides-markdown16" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <strong>From</strong> : Boterstraat 45, Ieper
          <strong>On</strong> : 10/11</p>

        <p style="color:#000000;">
          <strong>To</strong> : Barco Kortrijk
          <strong>Time</strong> : 6.50 AM</p>
      </div>
    </div>
    <div class="item item-body" id="myRides-list-item-container13">
      <div id="myRides-markdown17" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <strong>From</strong> : Boterstraat 45, Ieper
          <strong>On</strong> : Tuesday</p>

        <p style="color:#000000;">
          <strong>To</strong> : Barco Kortrijk
          <strong>Time</strong> : 6.50 AM</p>
      </div>
    </div>
  </ion-content>
</ion-view>