<ion-view title="Search Ride" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="searchRide-form1" class="list">
      <label class="item item-input" id="searchRide-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/t7x5xGzRa6tiPDc0203v__82931280_82931279.jpg" style="display: block; width: 100%; height: 250%; margin-left: auto; margin-right: auto;">
    </div>
    <div class="item item-body" id="searchRide-list-item-container1">
      <div id="searchRide-markdown2" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <strong>From</strong> : Zandstraat 13
          <strong>On</strong> : Tuesday</p>

        <p style="color:#000000;">
          <strong>To</strong> : Barco Kortrijk
          <strong>Time</strong> : 6.50 AM</p>
      </div>
    </div>
    <div class="item item-body" id="searchRide-list-item-container5">
      <div id="searchRide-markdown6" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <strong>From</strong> : Ieperstraat 12 Ieper
          <strong>On</strong> : Tuesday</p>

        <p style="color:#000000;">
          <strong>To</strong> : Barco Kortrijk
          <strong>Time</strong> : 7.30 AM</p>
      </div>
    </div>
  </ion-content>
</ion-view>